* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling the navbar  */
.hd {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
    color: white;
    text-decoration: none;
}

.hd:hover {
    color: black;
}

.hed {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.navbar-nav a {
    color: whitesmoke;
}

.nav-item a {
    color: white;
}

.navbar:hover {
    background-color: white;
}

/* Making our links look nice  */
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

.navbar ul li ::after {
    content: '';
    height: 3px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: 0.6s;
}

/*
above by setting width=0, we are hiding our line, now let's make it :focus-visible
 when we hover over it  */
.navbar ul li:hover ::after {
    width: 100%;
}


/* Styling the slider  */
.carousel-item .dive {
    background-image: url(../img/istockphoto-1308462599-612x612.jpg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
}

.carousel-item .dive h5 {
    font-size: 60px;
    text-transform: uppercase;
}

.carousel-item .dive a {
    margin-bottom: 22%;
    margin-top: 25px;
    color: black;
    font-weight: bold;
}

.carousel-item .dive1 {
    background-image: url(../img/the-highway-1180650.jpg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
}

.carousel-item .dive1 h5 {
    font-size: 60px;
    text-transform: uppercase;
}

.carousel-item .dive1 a {
    margin-bottom: 15%;
    margin-top: 25px;
    color: black;
    font-weight: bold;
}

.carousel-item .dive2 {
    background-image: url(../img/istockphoto-1314038159-612x612.jpg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
}

.carousel-item .dive2 h5 {
    font-size: 60px;
    text-transform: uppercase;
}

.carousel-item .dive2 a {
    margin-bottom: 15%;
    margin-top: 25px;
    color: black;
    font-weight: bold;
}

.carousel-item .dive3 {
    background-image: url(../img/istockphoto-1313422847-612x612.jpg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
}

.carousel-item .dive3 h5 {
    font-size: 60px;
    text-transform: uppercase;
}

.carousel-item .dive3 a {
    margin-bottom: 20%;
    margin-top: 25px;
    color: black;
    font-weight: bold;
}

.company {
    text-align: center;
}

.company h1 {
    font-size: 50px;
    font-weight: bold;
}

.company h2 {
    font-size: 40px;
    font-weight: bold;
}

.company button {
    width: 210px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    background-color: black;
    border-radius: 4px;
}

.company button a {
    font-size: 13px;
    text-decoration: none;
    color: brown;
}

.cTalk {
    text-align: center;
}

/* This changes the image when we hover over it; still working on it though  
.c1 img:hover {
    background-image: url(../img/the-highway-1180650.jpg);
    width: 100%;
    height: 300px;
}
*/

.cTalk button {
    width: 180px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    background-color: black;
    border-radius: 4px;
}

.cTalk button a {
    text-decoration: none;
    color: white;
}

/* Styling Company's section button  */
.cTalk1 button {
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
}

.cTalk1 button a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.first h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: transparent;
}


/* Styling the newBanner image section  */

.newBanner {
    background-image: url(../img/the-highway-1180650.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.organiz {
    text-align: center;
}

/* Styling the shop the brand section */
.divbrand h1 {
    font-size: 50px;
    color: white;
    margin-top: -400px;
    margin-left: 75px;
    font-weight: bolder;
}

.divbrand a {
    text-decoration: none;
}

.divbrand1 h1 {
    font-size: 50px;
    color: white;
    margin-top: -250px;
    margin-left: 75px;
    font-weight: bolder;
}

.divbrand1 a {
    text-decoration: none;
}

.divbrand2 h1 {
    font-size: 50px;
    color: white;
    margin-top: -250px;
    margin-left: 200px;
    font-weight: bolder;
}

.divbrand2 a {
    text-decoration: none;
}

/* tHE INSTAGRAM SECTION  */
.divinstagram {
    text-align: center;
}

.divinstagram h1 {
    margin-top: -500px;
    font-size: 50px;
    color: white;

}

.divinstagram button {
    margin-top: -250px;
}


/* The footer section  */
.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 10%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div {
    text-align: center;
}

.footer .col-md-3 {
    flex-grow: 2;
}

/* Adding the css for the titles  */

.footer div h3 {
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* Styling the links in footer  */

.col-md-3 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;

}

.col-md-3 a:hover {
    color: gray;
}

/* Styling the Email part i our footer */

.footer form input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.footer form button {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

/* Styling our icons  */
.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

.social-icons a {
    display: inline-flex;
}


/* Styling the kids.html section  */

/* Styling the banner section  */

.allKidsBanner {
    background-image: url(../img/istockphoto-1308462599-612x612.jpg);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.allKidsBanner h2 {
    font-size: 45px;
    text-transform: uppercase;
    margin-left: 55px;
    margin-top: 110px;
    color: white;
}

.allKidsBanner h2 b {
    font-style: italic;
}

/* Styling the second navigation in kids.html  */
.allkids {
    height: 2px;
}

.allkids ul li {
    background-color: black;
    margin-right: 20px;
}

.allkids ul li a {
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.allkids ul li a:hover {
    background-color: yellowgreen;
    color: white;
}

/* Styling the age section  */
.age h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.age a {
    color: white;
    height: 38px;
}

/* Styling the first age group under age div: toddlers  */
.toddlers .tdd {
    text-align: right;
    color: black;
    margin-top: -180px;
}

.toddlers .tdd h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: right;    

}

.toddlers .tdd a {
    text-decoration: none;
    color: black;

}

/* Styling the second age group under age div: little kids  */
.littleKids .lit {
    color: black;
    text-align: center;
    margin-top: -375px;
}

.littleKids .lit h3 {
    font-weight: bold;
    font-size: 30px;
}

.littleKids .lit a {
    text-decoration: none;
    color: black;
}

/* styling the second age group under age div: big kids  */
.bigKids .big {
    color: black;
    margin-top: -350px;
    text-align: left;
}

.bigKids .big h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.bigKids .big a {
    text-decoration: none;
    color: black;
}

/* Styling the THEY GROW SO FAST section  */
.grow .container {
    background-color: gainsboro;
}

.grow h1 {
    font-size: 85px;
    color: black;
    text-align: center;

}

.grow .container a {
    font-size: 30px;
    color: black;
}

.grow .col-md-2 {
    text-align: center;
}

/* styling the WHAT'S TRENDING SECTION  */

#trend p {
    text-align: center;
}

.row h3 {
    text-align: center;
}

/* Styling the .littleKids boots section  */
.hedd{
    display: inline-flex;
    margin-left: 300px;
}


.row h6 {
    text-align: center;
    font-weight: bold;
}


.shopNow {
    height: 5px;
}

.shopNow ul li {
    background-color: black;
    margin-left: 300px;
}

.shopNow ul li a {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.shopNow ul li a:hover {
    background-color: yellowgreen;
    color: white;
}

/* Shop noe button for toddlers  */
.shopNow1{
    height: 5px;
}
.shopNow1 ul li{
    background-color: black;
    margin-left: -300px;
}
.shopNow1 ul li a{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.shopNow1 ul li a:hover{
    background-color: yellowgreen;
    color: white;
}