*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling the navbar  */
.navbar-brand{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
}

.navbar{
    box-shadow: 0 4px 10px brown;
}
